h1 {
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    color: brown;
}

p {
    line-height: 1.5; /*Default is 1(equals to the font size)*/
}

/*Styling hyperlinks*/

a:link {
    color: #1098ad;
    text-decoration: none; /*Gets rid of underline*/
}

a:visited {
    color: #777;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline wavy;
}

a:active {
    background-color: grey;
    font-style: italic;
}