body{
  background-color: black;
  background-image: url("BG.jpg");
  background-repeat: no-repeat;

}

h1 {
  color: red;
  border-left: 10px solid dodgerBlue;
  border-top-left-radius: 5px;
  border-right: 10px solid dodgerBlue;
  text-align: center;
  margin: 25px 50px 75px;
}

.css_modl{
  color: white;
}

#CSS_model_image{
  height: 50%;
  width: 50%;
}

li {

  height: 50%;
  width: 50%;

  color: rgba(255,255,0,0.9);
  background-color: rgba(255,0,0,0.5);
  border: 2px groove Tomato;
  border-radius: 5px;

  margin-left: 1%;
  margin-top: 20px;

  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*

The border-style property specifies what kind of border to display.

The following values are allowed:

dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border

*/
