.text_sample_1 {
    font-size: 16px;
}

.text_sample_2 {
    font-size: 25px;
}

.text_sample_3 {
    font-size: 1em;
}

.text_sample_4 {
    font-size: 5em;
}

.text_sample_5 {
    font-size: 100%;
}

.text_sample_6 {
    font-size: 150%;
}