<center>
<h1>
Welcome to my Static Webpage (main.html.erb)
</h1>

<br>

<%= link_to "About Us Page", "/pages/About"%>
<%= link_to "Contact Us", "/pages/ContactUs"%>
<%= link_to "Know More", "/pages/KnowMore"%>


</center>
